include:
  - compose.services.yaml

services:
  todo-api:
    image: todo-api
    pull_policy: never
    build:
      context: .
      dockerfile: TodoApi/Dockerfile
      target: final
    ports:
      - "8080:8080"
    environment:
      - ConnectionStrings__ApplicationDb=Host=postgres;Port=5432;Database=todo;Username=todo;Password=todo;GSS Encryption Mode=Disable
    depends_on:
      postgres:
        condition: service_healthy
